<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light px-3 shadow-sm ">
    <div class="container-fluid ">
      <a class="navbar-brand titulo" [routerLink]="'/cliente'">{{titulo}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-2 justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" [routerLink]="'/cliente'">Home</a>
          <a class="nav-link" href="#">Anteproyectos</a>
          <a class="nav-link" (click)="listarProject()">listar</a>
          
        </div>
      </div>
    </div>
  </nav>