<h2 class="h2 fw-bold text-center">{{ tituloPP }}</h2>
<div class="accordion accordion-flush mt-5" id="items">

  <div class="accordion-item" *ngFor="let item of items; index as i; first as isFirst">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button">
        {{ item.nameItem }}
      </button>
    </h2>
    <div
      id="collapse{{ i }}"
      class="accordion-collapse collapse show"
      data-bs-parent="#items"
    >

      <div class="accordion-body" *ngIf="!isFirst; else primero">
        <textarea
          class="form-control"
          rows="3"
          [(ngModel)]="item.body"
          (change)="cambiarEstado()"
        ></textarea>
      </div>
      <ng-template #primero>
        <div class="accordion-body">
          <textarea
            class="form-control"
            name=""
            id=""
            rows="3"
            [(ngModel)]="tituloPP"
            (change)="cambiarEstado()"
          ></textarea>
       </div>
      </ng-template>
    </div>
  </div>
  <div class="">
    <button
      type="button"
      class="btn btn-outline-success m-3"
      (click)="guardar()"
    >
      Guardar
    </button>
    <button type="button" class="btn btn-outline-info" (click)="enviar()" [disabled]="!seGuardo">Enviar</button>
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-outline-primary m-3"
      data-bs-toggle="modal"
      data-bs-target="#crearItem"
    >
      agregar item
    </button>
    <button type="button" class="btn btn-outline-dark"  data-bs-toggle="modal" data-bs-target="#modalVItems">visualizar Items</button>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="crearItem"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createTitleId"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createTitleId">Generar item</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <form (ngSubmit)="addItem()" [formGroup]="itemForm">
              <div class="mb-3">
                <label class="form-label">Nombre del item</label>
                <input type="text" class="form-control" placeholder="ej: introduccion, objetivo, resumen..." formControlName="nameItemB" required>
                <span *ngIf="itemForm.get('nameItemB')?.touched && itemForm.get('nameItemB')?.errors?.['required']" style="color: red;"> primero rellena el campo</span>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">contenido del item</label>
                <textarea class="form-control" id="FormControlTextarea1" rows="3" formControlName="bodyB"></textarea>
              </div>
              <input class="d-none" type="submit"  #buttonSubmit>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            cerrar
          </button>
          <button type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)="buttonSubmit.click() " [disabled]="itemForm.invalid" >agregar</button>
        </div>
      </div>
    </div>
  </div>

</div>
