<div class="contenedor">

    <h3 class="title">{{title}}</h3>
  
    <span class="derechos">Imagen de <a href="https://pixabay.com/es/users/0fjd125gk87-51581/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1784245">0fjd125gk87</a> en <a href="https://pixabay.com/es//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1784245">Pixabay</a></span>
  
    <form action="sumit">
      <h3 class="titulo-form">iniciar sesion</h3>
      <div class="accesos-externos">
        <div class="acceso google">
          <i class="fa-brands fa-google"></i>
          <!--  solo es de referecia, no funciona -->
          <span>continuar con google</span>         
        </div>
        <div class="acceso facebook">
          <i class="fa-brands fa-facebook-f"></i>
          <!-- solo es de referecia, no funciona el ingresar con google o facebook -->
          <span>continuar con facebook</span>       
        </div>
      </div>
      <br>
   
      <div class="separador">
        <hr>
        <div>
          <span>or</span>
        </div>
      </div>
      <br>
      
      <input type="email" class="style-input-text" name="Email" placeholder="Email"  />
      <input  type="password" class="style-input-text" name="password" placeholder="Contraseña" />
  
      <input class="btn-registrar" type="submit" value="registrar" />
      <span class="login">¿deseas registrarte?  <a [routerLink]="['/registrar']">Registrar</a></span>
    </form>
    
  </div>
  
