<!-- Modal Body -->
<div class="modal fade" id="modalVItems" tabindex="-1"  role="dialog" aria-labelledby="modalTitleId-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId-1">
                    {{title}}
                </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="estructura">
                    <h4 class="h4 text-center">item</h4>
                    <br>
                    <p class="text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque aspernatur distinctio culpa odio cupiditate veniam hic rerum doloribus quo, eos iste consectetur laudantium temporibus voluptates quidem optio veritatis asperiores impedit?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
